<h1>Data Use Agreement</h1>
<p class="center">between</p>
<p>Eurac Research, seated in Viale Druso 1, 39100 Bolzano (Italy) (hereinafter “Provider”) represented by its Director, Dr. Stephan Ortner</p>
<p class="center">and</p>
<p>the Registered user (hereinafter “Recipient”)</p>
<p>Eurac Research and the registered user each referred to as the “Party” or collectively as the “Parties”.</p>

<h5 class="center">Definitions</h5>
<p><strong>Data Transfer Agreement:</strong> an agreement by which the Provider, or owner of the work, transfers and authorizes the Recipient to use the Data for a certain time and scientific purposes only according to certain conditions and terms of this Agreement;</p>
<p><strong>Provider:</strong> understood as a party that makes Data, work, documents of which it is the owner, author, and creator available only for the purposes stated in art. 3 of this Agreement;</p>
<p><strong>Recipient:</strong> intended as a party that receives the Data/work whose use is allowed only for scientific purposes defined in the purposes of articles 1 and 3 of this Agreement;</p>
<p><strong>Data:</strong> any information, work, document, and data, whether or not subject to confidentiality according to art 12 of the "Regulation for the intellectual and industrial properties management and exploitation", the result achieved by intellectual and economic effort of the Provider being temporarily authorized for scientific purposes use only;</p>
<p><strong>Conditions of use:</strong> to be understood as conditions and exhaustive terms defined by agreement to which the Recipient is subject concerning the temporary use of the Data;</p>
<p><strong>Intellectual property rights:</strong> to be understood as recognition of a series of rights to protect the intellectual activity, of a moral and patrimonial nature, recognized by the Provider as the original author of the work, under the Regulation mentioned above on September 15, 2017;</p>

 
<h5 class="center">Art.1 Terms of use</h5>
<p>THE DEFINITIONS ARE AN INTEGRAL PART OF THE DATA TRANSFER AGREEMENT/WORK AND THEY MUST NECESSARILY BE INTERPRETED AS THEY ARE DESCRIBED ABOVE<br>
THE WORK, AS DEFINED ABOVE, IS MADE AVAILABLE BASED ON THE TERMS OF THIS AGREEMENT. THE WORK IS PROTECTED BY COPYRIGHT, BY OTHER RIGHTS GRANTED BY THE LAW ON COPYRIGHT (RELATED RIGHTS, RIGHTS ON DATABASES, ETC.) AND/OR OTHER APPLICABLE LAWS. ANY USE OF THE WORK THAT IS NOT AUTHORIZED UNDER THIS AGREEMENT AND/OR OTHER APPLICABLE LAWS IS FORBIDDEN.</p>
<p>THE PROVIDER GRANTS TO THE RECIPIENT THE RIGHTS LISTED BELOW ON CONDITION THAT THE RECIPIENT ACCEPTS AND COMPLIES WITH THE TERMS AND CONDITIONS OUTLINED IN THIS AGREEMENT.</p>
<p>The use of the DATA is provided under the following mandatory provisions:</p>
<ul>
    <li>the recipient is not authorized to modify the content of the Data/work for the purposes set out in Article 3;</li>
    <li>distribution, communication to the public, public display, representation of this material by any means and format is authorized, by the licenses or author's rights relating to the work only for the purposes set out in art 3 of this Agreement;</li>
    <li>the Recipient is obliged to accredit the Provider in the representations and any form of distribution/dissemination carried out as the author of the work object of the transferred Data/work, as indicated in art. 3 of this Agreement;</li>
    <li>the Provider can revoke the authorization relating to the use of the Data/work in the event of non-compliance with the terms of this Agreement;</li>
    <li>the use of data is limited to the purposes specified in art. 3 of this Agreement;</li>
    <li>prohibition of sharing and/or sale to third parties of the Data/work subject to authorization for purposes other than those established in art. 3 including, without limitation, use for commercial purposes;</li>
    <li>the Recipient should inform the Provider, where necessary, about problems arising with the integrity of the Data/work;</li>
    <li>access to the database is guaranteed only from the last date of signing of this Agreement until the expiration of the validity of the access credentials as established in art.3, or the event of official revocation of this authorization by the Provider.</li>
</ul>

<h5 class="center">Art. 2 Object of the Contract</h5>
<p>By signing this Agreement, the Provider declares that the authorization and use of the Data/work provided in this Agreement is comply with the current Italian and European legislation on copyright.</p>
<p>The Provider will provide the relative access credentials to the database of the LTER IT25 Matsch / Mazia site accessible on the following website: https://browser.lter.eurac.edu/#  or through R / Phyton queries to the following host = "ts.eurac.net".</p>
<p>Furthermore, the Provider declares that the origins of the intellectual work or/and for which it was formulated do not conflict with previous or third party rights and said Data are the exclusive property of the Provider and for this reason, it has full ownership claiming any right of use relating to the reproduction and modification of the same subjecting the Recipient to adopt diligent and good faith conduct in the use of the Data/work subject of this Agreement.</p>

 
<h5 class="center">Art. 3 The Recipient</h5>
<p>The Recipient accepts and declares:</p>
<ul>
    <li>to respect the conditions of use of the Data/work set out in this Agreement;</li>
    <li>that any communication regarding the aforementioned agreement must be received at the following email address: alpine.environment@eurac.edu.</li>
    <li>that the use of the above data must always be mentioned and in the following form: "We thank Eurac research, long-term socio-ecological research site LT(S)ER IT25 - Matsch / Mazia - Italy, for providing the data, DEIMS.iD: https://deims.org/11696de6-0ab9-4c94-a06b-7ce40f56c964"</li>
    <li>that shall ensure the return and consequently the cancellation from any device and archive of the Data/work and everything in its possession owned by the Provider in case of revocation according to art. 6 or at the end of the term of this Agreement;</li>
    <li>that shall stop the use and dissemination of the Data/work and everything in its possession owned by the Provider following the exercise of the right of revocation under art. 6;</li>
    <li>that shall not prejudice the Provider by using the Data/works temporarily transferred inappropriately and/or for purposes other than those established by this Agreement, including commercial ones, without the prior written authorization from the Provider.</li>
</ul>
 
<h5 class="center">Art. 4 Publications</h5> 
<p>The Provider shall examine in advance any proposal for dissemination/disclosure of the Recipient compressed within the scope specified in art. 3 of this Agreement, by way of example but not limited to: submission of the publication, proposal for publication, publication, presentation, dissemination, to verify compliance with the provisions contained therein as well as compliance with the rules on the protection of the right of the author to avoid any risk of violation that could cause damage to the Provider and his rights of the patent.</p>

<h5 class="center">Art. 5 Intellectual and Industrial property</h5> 
<p>The signing of this Agreement does not result a transfer to the of the ownership to the Recipient related to the Data/work in question. All rights concerning the intellectual and industrial property are and remain the property of the Provider.</p>
<p>The Recipient must also always credit the Provider in the event of dissemination/disclosure for any reason.</p>
<p>The Recipient cannot be authorized to modify or extrapolate the entire work or parts of it to use it for purposes other than those authorized by this Agreement, upon written request.</p>

<h5 class="center">Art. 6 Revocation of the authorization</h5> 
<p>The Provider is the owner of the Data/work and as such owns the property of the same.</p>
<p>The Provider can request the return and/or cancellation of the Data/work at any time if:</p>
<ul>
    <li>the Recipient violates one or more of the provisions contained in this Agreement;</li> 
    <li>the Recipient publishes and / or divulges the scientific publication without having submitted it to the due verifications provided for in art. 4 of this Agreement and authorizations;</li>
    <li>the Recipient disseminates and divulges the work of the Provider without the necessary accreditations;</li>
    <li>the Recipient violates the national and European copyright provisions.</li>
</ul>
<p>Without prejudice to the hypothesis of data subject to publication which will remain available to Eurac research for the replicability of the calculations made within the purpose specified in art. 3 of this Agreement.</p>

<h5 class="center">Art. 7 Obligation to report on results</h5> 
<p>The Provider has the right to request a written report from the Recipient regarding the carrying out of the research project and the methods of use of the Data/work. In the event of a request, this report will be subject to confidentiality to ensure the confidentiality of the information owned by the Recipient concerning the research project.</p>

<h5 class="center">8. Limitation of liability</h5> 
<p>The Recipient relieves the Provider from any liability deriving from the illegitimate and/or unregulated use of the Data/work that the same may put in place outside the provisions of this Agreement. Furthermore, the Provider declares that the data are not validated and that therefore the quality of the downloaded data is not guaranteed.</p>

<h5 class="center">Art. 9 Data protection</h5> 
<p>All personal data will be processed in compliance with the general data protection regulation (EU) 679/2016 (GDPR) and the national data protection law for the execution of this contract.</p>

<h5 class="center">10 Jurisdiction</h5>
<p>Any dispute in violation of the provisions on the authorization and use of the Data/work will be settled in the exclusive Court of Milan.</p>
