<h1>Data Privacy Statement</h1>

<p> In accordance with current data protection regulations, Eurac Research, as
Data Controller, hereby provides you (the Data Subject) with information about
how your data is processed. All personal data is dealt with in compliance with
EU Regulation No. 2016 / 679 (GDPR) and the national legislation.  
</p>

<ol>
    <li>
    Purpose and Legal Basis for the Data Processing
    <p>Any and all personal data that is in the possession of the Controller, or that may be requested by the Controller, is necessary for the purposes of registration as user in the restricted area of the database LT(S)ER IT25 - Mazia/Matsch, accessible at the following url: https://browser.lter.eurac.edu including the preparation and follow-up actions and communications about the registration and e-mail notifications on the database and related activities.</p>
    <p>The legal basis for the processing of your personal data is your consent to the processing of your personal data.</p>
    </li>
</ol>