<h1>Data Privacy Statement</h1>

<p>In accordance with current data protection regulations, Eurac Research, as Data Controller, hereby provides you (the Data Subject) with information about how your data is processed. All personal data is dealt with in compliance with EU Regulation No. 2016/679 (GDPR) and the national legislation.</p>

<h5>1. Purpose and Legal Basis for the Data Processing</h5>

<p>Any and all personal data that is in the possession of the Controller, or that may be requested by the Controller, is necessary for the purposes of registration as user in the restricted area of the database LT(S)ER IT25 - Mazia/Matsch, accessible at the following url: https://browser.lter.eurac.edu including the preparation and follow-up actions and communications about the registration and e-mail notifications on the database and related activities.<br>
The legal basis for the processing of your personal data is your consent to the processing of your personal data.</p>

<h5>2. Information on the Retention Period of Personal Data</h5>  

<p>Personal data will be stored for as long as the service is available, and the time required to comply with the Applicable Law (Artt.2946 -2947 c.c.). When this period has been reached, the data shall be deleted or made anonymous.</p>

<h5>3. Mandatory or Voluntary Communication of Data and Possible Consequences of a Failure to Provide it</h5>

<p>The provision of personal data is voluntary; but any refusal could interfere with the regular registration and the receiving of e-mail notifications.</p>

<h5>4. Recipients of the Data Processed</h5>

<p>The recipients of the data are the employees of the Institute for Alpine Environment - Eurac Research- persons in charge of data processing activities, authorized and instructed by the data controller to data processing activities. The data may also be communicated to external service provider (e.g. technical service, maintenance) and/or project Partners in their capacity as data processor, which were formally bound by means of a data processing agreement.</p>

<h5>5. Transfer of Data</h5>

<p>Your data may not be transferred to Recipients established outside the European Economic Area.</p>

<h5>6. Presence of Automated Decision-Making Process</h5>

<p>There are no automated decision-making processes that could produce an adverse legal effect on the data subject or have a similarly significant negative impact upon them.</p>  

<h5>7. Data Controller, Data Processor and Data Protection Officer (DPO)</h5>

<p>Data Controller: Eurac Research, Viale Druso 1, 39100 Bolzano<br> 
Data Processor: for further information contact privacy@eurac.edu<br>
You can contact the DPO under the following e-mail address: privacy@eurac.edu</p>

<h5>8. The Data Subject’s Rights</h5> 

<p>At any time the data subject has the right to request access to their personal data, and to correct or delete that data, or to limit its processing. In addition, the data subject has the right to data portability, as well as the right to lodge a complaint with a supervisory authority. When the data processing is based on consent, the data subject has the right to withdraw that consent at any time. The data subject may also exercise all other rights pursuant to current data protection regulations (art. 15 et seq. GDPR) by writing to the e-mail address: privacy@eurac.edu.</p>
 