<h1>Datenschutzaufklärung</h1>

<p>Eurac Research, in ihrer Funktion als Verantwortlicher für die Verarbeitung der personenbezogenen Daten, übermittelt Ihnen („betroffene Person“) im Sinne der Europäischen Datenschutzgrundverordnung Nr. 679/2016 (GDPR) sowie der nationalen Gesetzgebung, Informationen bezüglich der Verwendung Ihrer Daten.</p>

<h5>1. Zweck und Rechtsgrundlage für die Verarbeitung</h5> 

<p>Die von Ihnen dem Verantwortlichen für die Datenverarbeitung übermittelten personenbezogenen Daten werden ausschließlich zum Zwecke der Anmeldung des Nutzers für den Zugang zu dem reservierten Bereich der Datenbank LT(S)ER IT25 - Mazia/Matsch, zugänglich unter der folgenden url: https://browser.lter.eurac.edu, sowie aller Tätigkeiten zur Vor- und Nachbereitung, Mitteilungen über die Registrierung und E-Mail-Benachrichtigungen über die Datenbank und damit verbundene Aktivitäten verarbeitet.<br>
Die Rechtsgrundlage der Datenverarbeitung stellt die Einwilligung der betroffenen Person zur Verarbeitung der sie betreffenden personenbezogenen Daten für die genannten Zwecke dar.</p>

<h5>2. Aufbewahrungszeitraum</h5> 

<p>Die Aufbewahrung der Daten erfolgt nur solange der Dienst angeboten wird und/oder Sie eingeschrieben sind und jedenfalls für die Zeit, die für die Einhaltung der damit verbundenen gesetzlichen Vorschriften unbedingt notwendig ist (Art. 2946 ff. ZGB). Ist dieser Zeitraum verstrichen, werden die Daten vernichtet oder anonymisiert.</p>

<h5>3. Obligatorische oder freiwillige Mitteilung der Daten und mögliche Folgen der Nichtbereitstellung</h5> 

<p>Die Mitteilung der personenbezogenen Daten ist freiwillig aber jede Verweigerung könnte die reguläre Registrierung und die korrekte Ausführung des Dienstes behindern und auch jede Benachrichtigung unmöglich machen.</p>

<h5>4. Empfänger der personenbezogenen Daten</h5> 

<p>Die personenbezogenen Daten können von den Mitarbeitern des Instituts für Alpine Umwelt- Eurac Research, die Zugang zu personenbezogenen Daten haben und dem Verantwortlichen unterstellt sind und die zu diesem Zwecke ernannt und angemessen ausgebildet wurden, verarbeitet werden. Außerdem können die Daten an externe Dienstleister (beispielsweise, technische Instandhaltungsdienste) weitergeleitet werden, die als Auftragsverarbeiter ernannt werden.</p>

<h5>5. Übermittlung der Daten an Drittländer</h5>

<p>Die personenbezogenen Daten werden nicht an Drittländer oder an internationale Organisationen übermittelt.</p>

<h5>6. Bestehen einer automatisierten Entscheidungsfindung</h5> 

<p>Es findet keine Entscheidungsfindung statt, die allein auf die automatisierte Verarbeitung der personenbezogenen Daten basiert, die der betroffenen Person gegenüber rechtliche Wirkung entfaltet oder in ähnlicher Weise erheblich beeinträchtigt.</p>

<h5>7. Verantwortlicher der Datenverarbeitung, Auftragsverarbeiter und Data Protection Officer (DPO)</h5> 

<p>Verantwortlicher der Datenverarbeitung („Titolare del trattamento“) ist Eurac Research, mit Sitz in 39100 Bozen, Drususallee 1, in der Person des Präsidenten und gesetzlichen Vertreters pro tempore.
Auftragsverarbeiter („Responsabile del trattamento“): weitere Informationen erhalten Sie unter privacy@eurac.edu<br>
Der DPO kann unter folgender E-Mail Adresse kontaktiert werden: privacy@eurac.edu</p>

<h5>8. Rechte der betroffenen Person</h5>

<p>Die betroffene Person hat das Recht auf Zugang zu den personenbezogenen Daten, auf Berichtigung oder Löschung derselben Daten, das Recht auf Einschränkung der Verarbeitung, das Widerspruchsrecht, das Recht auf Datenübertragung, auf Beschwerde u.a. bei der zuständigen nationalen Aufsichtsbehörde, sofern eine Verletzung in der Verarbeitung der personenbezogenen Daten vermutet wird, sowie sämtliche andere von den geltenden Gesetzesbestimmungen anerkannten Rechte (Artt. 15 ff. GDPR). Ist für die Verarbeitung der personenbezogenen Daten eine Zustimmung erteilt worden, so besteht das Recht, diese Zustimmung zu widerrufen.<br>
Die Ausübung der genannten Rechte kann mittels Kontaktaufnahme unter E-Mail privacy@eurac.edu erfolgen.</p>