/*! 
 * Copyright 2019 Eurac Research. All rights reserved. 
 * Use of this source code is governed by the Apache 2.0
 * license that can be found in the LICENSE file.
 */
html, body {
	height: 100%;
	margin: 0;
	width: 100%;
}

.layout, .layout > .row, .layout > .row > div {
	height: 100%;
}

body {
	color: #000000;
	font: Arial, sans-serif;
	font-size: small;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.license-warning {
	margin: 0;
}

.welcome {
	padding: 0 15px 15px 15px;
	margin-bottom: 20px;
}

.welcome > h1 {
	font-size: 1.9em;
	font-weight: normal;
}

.welcome > p {
	font-size: 1.4em;
}

main {
	flex: 1;
}

main.page {
	padding: 20px;
}

article {
	line-height: 1.5em;
	font-size: 1.1em;
	max-width: 80rem;
	word-wrap: break-word;
}

article>h1 {
	font-size: 2.2rem;
	line-height: 1;
}

article.hello ul {
	line-height: 1.8em;
}

article.hello h2 {
	font-size: 1.2em;
	margin-top: 50px;
	font-weight: bold;
}

div.license {
	margin-top: 25px;
	padding: 20px;
	font-size: small;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	height: 300px;
	overflow: scroll;
	line-height: 1.2em;
}

div.license h1 {
	font-size: 2rem;
	text-align: center;
	margin-top: 0px;
}

footer {
	padding: 20px;
}

.center {
	text-align: center;
}

.station > .row {
	padding: 5px;
}

.station dt {
	font-weight: normal;
	font-style: italic;
	margin-bottom: 0;
}

.station dd {
	font-size: 1.5em;
	margin-bottom: 5px;
}

.station .list {
	font-size: small;
	padding: 0;
	margin: 0;
	height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* show scrollbars on macOS */
::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0, 0, 0, .5);
	box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.scroll-to-top {
	z-index: 99;
	position: fixed;
	right: 1rem;
	bottom: 1.5rem;
	display: none;
	text-align: center;
	color: #000000;
	background: #fafafa;
	border-radius: 10px;
	font-size: 18px;
	padding: 15px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
	color: #000000;
}

#dlMapArea a {
	font-weight: bold;
	color: #333;
}

#dlMapArea a:hover {
	text-decoration: none;
	color: #000;
}

#map {
	z-index: 1;
}

.mapPopup {
	font-size: 1.2em;
	overflow: auto;
	height: 400px;
}

.mapPopup ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-left {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 20px 0 0 0;
	border-right: 1px solid #ccc;
}


.sidebar-left > .form {
	height: 100%;
}

.sidebar-left > .footer {
	padding: 15px;
}

.navbar-default {
	border-radius: 0;
	padding:0;

}

.navbar-header > h1 {
	margin: 30px 5px 0 0;
	font-size: 1.2em;
	color: rgb(119, 119, 119);
	float: left;
}

.nav {
	margin: 0;
	padding: 12px 0 0 0;
}

.navbar {
	min-height: 72px;
	padding: 0;
	margin: 0;
}

.navbar-brand {
	margin: 0;
	padding: 5px 10px  0 10px;
	height: auto;
}

.navbar-brand>img {
	margin: 0;
	padding: 0;
    height: 60px;
}

.navbar-nav>li {
	border-radius: 5px;
	margin: 2px;
	padding: 2px;
}

.navbar-nav>li>a {
	color:#484848;
	font-weight: bold;
	padding: 10px 10px 10px 10px;
}

.navbar-nav>li.active{
	background: #e7e7e7;
	margin: 2px;
	padding: 2px;
}

.navbar-nav>li.active>a {
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
}

.navbar-nav>li.active:hover {
	background: #e7e7e7;
}

.navbar-nav>li:hover {
	background-color: #F0F0F0;
	margin: 2px;
	padding: 2px;
}

.disabled {
	text-decoration: line-through;
}

#errorDialogContent {
	font-size: 1.2em;
	padding: 10px 10px 0 0;
}

.tooltip-wrapper {
	display: inline-block;
}

.tooltip-wrapper .btn[disabled] {
	pointer-events: none;
}

.tooltip-wrapper.disabled {
	cursor: not-allowed;
	text-decoration: none;
}

.showHide {
	padding: 2px;
	font-size: 0.9em;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-warning {
    border-left-color: #aa6708;
}


.hide {
	display: none;
}

@media (max-width: 1100px){
	.navbar {
		min-height: 50px;
	}
}
