/* Copyright 2019 Eurac Research. All rights reserved. */
html, body {
	height: 100%;
	margin: 0;
	width: 100%;
}

.layout, .layout > .row, .layout > .row > div {
	height: 100%;
}

body {
	color: #000000;
	font: Arial, sans-serif;
	font-size: small;
	margin: 0;
	padding: 0;
}

#map, .content {
    min-height: 850px;
}

.map-popup {
	font-size: 1.2em;
}

.headline {
	font-size: 1.6em;
	line-height: 1.6;
	margin-bottom: 20px;
	padding: 15px;
}

.headline > a {
	text-decoration: underline;
}

.filter {
	margin: 40px 10px 20px 0;
}

.filter > .row {
	margin-bottom: 20px;
}

.bottom {
	bottom: 0;
	margin: 0 0 20px 20px;
    position: absolute;
}

.navbar-default {
	border-radius: 0;
	padding:0;
}

.nav {
    padding: 10px 0 10px 0;
}

.navbar-brand>img {
    height: 45px;
}

.navbar-nav>li {
	border-radius: 5px;
	margin: 2px;
	padding: 2px;
}

.navbar-nav>li>a {
	color:#484848;
	font-weight: bold;
	padding: 10px 10px 10px 10px;
}

.navbar-nav>li.active{
	background: #e7e7e7;
	margin: 2px;
	padding: 2px;
}

.navbar-nav>li.active>a {
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
}

.navbar-nav>li.active:hover {
	background: #e7e7e7;
}

.navbar-nav>li:hover {
	background-color: #F0F0F0;
	margin: 2px;
	padding: 2px;
}

.disabled {
	text-decoration: line-through;
}

#errorDialogContent {
	font-size: 1.2em;
	padding: 10px 10px 0 0;
}

.tooltip-wrapper {
	display: inline-block;
}

.tooltip-wrapper .btn[disabled] {
	pointer-events: none;
}

.tooltip-wrapper.disabled {
	cursor: not-allowed;
	text-decoration: none;
}

.shadow {
	box-shadow: 10px 0 10px -2px rgba(0, 0, 0, 0.2);
	padding: 0;
	z-index:1000;
}


@media (max-width: 768px){
    #map, .content {
        min-height: 1000px;
    }
    
    .navbar-brand>img {
        height: 25px;
    }
} 
