<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>LTER Matsch / Mazia Data Browser</title>
		<link rel="icon" href="/static/favicon.ico">
		<link rel="stylesheet" href="/static/third_party/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/third_party/bootstrap-datepicker/bootstrap-datepicker3.min.css">
		<link rel="stylesheet" href="/static/third_party/bootstrap-multiselect/bootstrap-multiselect.css">
		<link rel="stylesheet" href="/static/third_party/ion-rangeslider/ion.rangeSlider.min.css">
		<link rel="stylesheet" href="/static/third_party/leaflet/leaflet.css">
		<link rel="stylesheet" href="/static/third_party/cookies-eu-banner/css/cookies-eu-banner.default.css">
		<link rel="stylesheet" href="/static/browser.css">
		<script src="/static/third_party/jquery/jquery-1.12.4.min.js"></script>
		<script src="/static/third_party/jquery/jquery-ui.min.js"></script>
		<script src="/static/third_party/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/third_party/cookies-eu-banner/js/cookies-eu-banner.js"></script>
	</head>
	<body id="page-top">

	<div id="cookies-eu-banner" style="display: none;">
    {{T "Eu banner" .Language}}
    <a href="http://privacy.eurac.edu" id="cookies-eu-more">{{T "Eu banner Read more" .Language}}</a>
    <button id="cookies-eu-reject">{{T "Eu banner Reject" .Language}}</button>
    <button id="cookies-eu-accept">{{T "Eu banner Accept" .Language}}</button>
    </div>

	{{block "content" . }}{{end}}
	
	<div class="modal fade" tabindex="-1" role="dialog" id="registerModal">
  		<div class="modal-dialog" role="document">
    			<div class="modal-content">
      				<div class="modal-header">
        					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        					<h4 class="modal-title">{{ T "Register" .Language}}</h4>
      				</div>
      				<div class="modal-body">
        					<p class="page">{{ T "To get full data access please write a short introduction of yourself and your data usage intend to:" .Language}} <a href="mailto:alpine.environment@eurac.edu">alpine.environment@eurac.edu</a></p>
      				</div>
      				<div class="modal-footer">
        					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      				</div>
    			</div><!-- /.modal-content -->
 	 	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	</body>
</html>
