<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>LTER Matsch / Mazia Data Browser</title>
		<link rel="icon" href="/static/favicon.ico">
		<link rel="stylesheet" href="/static/third_party/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/third_party/bootstrap-datepicker/bootstrap-datepicker3.min.css">
		<link rel="stylesheet" href="/static/third_party/bootstrap-multiselect/bootstrap-multiselect.css">
		<link rel="stylesheet" href="/static/third_party/ion-rangeslider/ion.rangeSlider.min.css">
		<link rel="stylesheet" href="/static/third_party/leaflet/leaflet.css">
		<link rel="stylesheet" href="/static/browser.css">
		<script src="/static/third_party/jquery/jquery-1.12.4.min.js"></script>
		<script src="/static/third_party/bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>

	{{block "content" . }}
	{{ $lang := .Language}}
	{{block "nav" .}}Navigation{{end}}
	<div class="container-fluid layout">
		<div class="row">
			<div class="col-lg-5 shadow content">
				<form method="POST" action="/api/v1/series" target="_blank"  id="filters" name="filter">
					<input type="hidden" name="token" value="{{.Token}}">
					<div class="container-fluid filter">
						<div class="row">
							<div class="col-lg-4">
								<div class="form-group">
									<label for="measurements">{{T "Select measurement:" $lang}}</label>
									<select multiple class="form-control" id="measurements" name="measurements">
										{{- range .Data.Measurements -}}
											{{if eq $.Role "FullAccess" -}}
												<option value="{{.}}">{{ . }}</option>
											{{else -}}
												<option value="{{ . }}">{{ T . $lang}}</option>
											{{end -}}
										{{- end -}}
									</select>
									{{if eq $.Role "FullAccess" -}}
									<div class="showHide">
										<input type="checkbox" name="showStd" id="showStd"> Show standard deviations
									</div>
									{{end}}
								</div>
							</div>
							<div class="col-lg-4">
								<div class="form-group">
									<label for="stations">{{T "Select station:" $lang}}</label>
									<select multiple class="form-control" id="stations" name="stations">
										{{- range .Data}}
										<option value="{{ .ID }}">{{ .Name }}</option>
				 						{{- end -}}
									</select>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="form-group">
									<label for="landuse">{{T "Select land use:" $lang}}</label>
										<select multiple class="form-control" id="landuse" name="landuse">
											{{- range .Data.Landuse }}
											<option value="{{.}}">{{ T . $lang}}</option>
											{{- end -}}
										</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group" id="timerange">
									<label for="dateRange">{{T "Pick a date range:" $lang}}</label>
									<div class="input-daterange input-group" id="datepicker" data-html="true" data-content="<p class='text-warning'><b>{{T "Warning" $lang}}</b>: {{T "Empty dates are not allowed." $lang}}</div>" data-trigger="manual" data-placement="top">
										<input type="text" class="input-sm form-control" name="startDate" id="startDate" value="{{.StartDate}}" autocomplete="off" data-html="true" data-content="<p class='text-warning'><b>{{T "Warning" $lang}}</b>: {{T "Selected time range is to big. Maximal allowed range is one year. Please use multiple requests." $lang}}</p>" data-trigger="manual" data-placement="top">
										<span class="input-group-addon">to</span>
										<input type="text" class="input-sm form-control" name="endDate"  id="endDate" value="{{.EndDate}}" autocomplete="off">
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label for="altitude">{{T "Select altitude range[m]:" $lang}}</label>
									<input type="text" class="js-range-slider" name="altitude" id="altitude" value="" >
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<br>
								<div class="tooltip-wrapper nostrike disabled" data-title="{{T "Please select at least one measurement and station." $lang}}">
									<button disabled data-html="true" type="submit" class="btn btn-primary" id="submit">{{T "Download CSV" $lang}}</button> &nbsp;

									{{if eq .Role "FullAccess"}}
														<script>
															$(document).ready(function() {
																function DownloadCodeTemplate(language) {
																	var action = $('#filters').attr('action');
																	$('#language').val(language)
																	$('#filters').attr('action', '/api/v1/template');
																	$('#submit').click();
																	$('#filters').attr('action', action);
																}
																$("#downloadPY").click(function() {
																	DownloadCodeTemplate("python");
																});
																$("#downloadR").click(function() {
																	DownloadCodeTemplate("r");
																});
															});
														</script>
														<input type="hidden" name="language" value="" id="language">
														<div class="btn-group">
															<button typemustmatchpe="button" disabled id="codeBtn" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																Code Templates <span class="caret"></span>
															</button>
															<ul class="dropdown-menu">
																<li><a href="#" id="downloadPY">Python</a></li>
																<li><a href="#" id="downloadR">R</a></li>
															</ul>
														</div>
									 {{end}}
								</div>

								{{if eq .Role "Public"}}
								<div class="bs-callout bs-callout-warning">
									<h4>{{T "Data licence" $lang}}</h4>
									<p>
									{{T "Data is released with CC BY 4.0" $lang}} <a href="https://creativecommons.org/licenses/by/4.0/deed.{{$lang}}">https://creativecommons.org/licenses/by/4.0/</a>
									</p>
									<p>
									{{T "This license lets others distribute, remix, adapt, and build upon your work, even commercially, as long as they credit you for the original creation." $lang}}

									</p>
									<p>
									{{T "Please give appropriate credit of the data provider as follow:" $lang}} <em>"{{T "We thank Eurac research long term socio-ecological research area LT(S)ER IT25 - Matsch/Mazia - Italy, for providing the data," $lang}} DEIMS.iD: <a href="https://deims.org/11696de6-0ab9-4c94-a06b-7ce40f56c964">https://deims.org/11696de6-0ab9-4c94-a06b-7ce40f56c964</a>"</em>
									</p>
								</div>
								{{end}}

								<div class="bs-callout">
									<h5>{{T "Disclaimer" $lang}}</h5>
									<p>{{T "Meteorological data downloaded from this app comes with no warranty and has not been validated by the data provider." $lang}}</p>
								</div>
							</div>
						</div>
					</div>
				</form>

				<div class="bottom"><a href="http://www.eurac.edu" target="_blank"><img src="/static/images/eurac_research.png" width="70" alt="Eurac Research"></a></div>
			</div>
			<div class="col-lg-7" id="map"></div>
		</div>
	</div>

	<div style="display:none">
		<div id="dlMapArea">
			<a href="/static/dl/LTER_IT25_Mazia_Matsch_Station_Coordinates.zip">{{T "Download Station Coordinates" $lang}}</a><br>
			<a href="/static/dl/LTER_IT25_Mazia_Matsch_Catchment.zip">{{T "Download Catchment" $lang}}</a>
		</div>

		{{ range .Data -}}
		<div id="s{{.ID}}" data-name="{{.Name}} - {{ T .Landuse $lang }} - {{ .Altitude}}m" class="mapPopup">
			<h5>{{.Name}}</h5>
			<p><img src="{{.Image}}" width="200"></p>
			<ul>
				<li><strong>{{T "Altitude" $lang}}:</strong> {{.Altitude}}m</li>
				<li><strong>{{T "Landuse" $lang}}:</strong> {{ T .Landuse $lang}}</li>
				<li><strong>{{T "Latitude" $lang}}:</strong> {{.Latitude}}</li>
				<li><strong>{{T "Longitude" $lang}}:</strong> {{.Longitude}}</li>
				<li>
					<strong>{{T "Measurements" $lang}}:</strong>
					{{$c := len .Measurements}}
					{{- range $i, $el  := .Measurements -}}
						{{if eq $.Role "FullAccess" -}}
							{{- $el -}}
						{{else}}
							{{- T $el $lang -}}
						{{end -}}
						{{- if not (Last $i $c)}}, {{end}}
					{{- end -}}
				</li>
			</ul>
		</div>
		{{ end -}}
	</div>

	<script src="/static/third_party/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
	<script src="/static/third_party/bootstrap-multiselect/bootstrap-multiselect.js"></script>
	<script src="/static/third_party/ion-rangeslider/ion.rangeSlider.min.js"></script>
	<script src="/static/third_party/leaflet/leaflet.js"></script>
	<script src="/static/browser.js"></script>
	<script>
		$(document).ready(function() {
			new browser({
				'stationEl':		'#stations',
				'measurementEl':	'#measurements',
				'landuseEl':		'#landuse',
				'altitudeEl':		'#altitude',
				'dateEl':			'#datepicker',
				'sDateEl':			'#startDate',
				'eDateEl':			'#endDate',
				'submitEl':			'#submit',
				'codeEl':			'#codeBtn',
				'dlMapAreaEl':		'dlMapArea',
				'mapEl':			'map',
				'data':			JSON.parse('{{.Data}}'),
			});
		});
	</script>
	{{end}}

	</body>
</html>
