{{define "content"}}
<div class="page">
	{{block "nav" .}}Navigation{{end}}

	<article>
		{{.Content}}
	</article>
	<footer>
		<a href="http://www.eurac.edu" target="_blank"><img src="/static/images/eurac_research.png" width="70" alt="Eurac Research"></a>
		</footer>
</div>
	<script>
		$(document).ready(function() {

			{{if $.AnalyticsCode}}
			new CookiesEuBanner(function () {
				var newScript = document.createElement("script");
				newScript.type = "text/javascript";
				newScript.setAttribute("async", "true");
				newScript.setAttribute("src", "https://www.googletagmanager.com/gtag/js?id={{$.AnalyticsCode}}");
				document.documentElement.firstChild.appendChild(newScript);

				window.dataLayer = window.dataLayer || [];
          		function gtag(){dataLayer.push(arguments);}
          		gtag('js', new Date());

				// https://developers.google.com/analytics/devguides/collection/gtagjs/display-features
				gtag('set', 'allow_ad_personalization_signals', false);
				gtag('config', '{{$.AnalyticsCode}}');


			}, true, true);
			{{end}}

		});
	</script>

{{end}}