#!/usr/bin/env python

# Documentation:
# https://influxdb-python.readthedocs.io/en/latest/index.html
from influxdb import DataFrameClient

# Create a connection to the InfluxDB server.
# To read data into a pandas DataFrame, use a DataFrameClient.
#
# INFO: For security reasons we cannot include username and password here.
#       Please create a ticket at https://support.scientificnet.org with the following
#       information: 
#
#       Subject: InfluxDB: Access to LTER "{{.Database}}" Database
#       Text: Please create a username and password for accessing the LTER "{{.Database}}" database.
#
client = DataFrameClient(host='ts.eurac.net',
    port=443,
    username='',
    password='',
    database='{{.Database}}',
    ssl=True,
    verify_ssl=True)


# Get timeseries data.
#
# INFO: All data inside InfluxDB is in UTC, but the data of the LTSER IT25 Matsch Mazia
#       side is recorded in UTC+1. By adding the 'tc' clause at the end we can specify
#       a timezone. For LTER use 'Etc/GMT-1' to avoid problems daylight saving time
#       problems.
result = client.query("{{.Query}}")

list(result)
