<h1>Data Browser Matsch | Mazia</h1>

<p>Willkommen auf der Data Browser Matsch | Mazia!
Diese Anwendung bietet eine benutzerfreundliche Schnittstelle zum Herunterladen der meteorologischen und biophysikalischen Variablen des <a href="http://lter.eurac.edu/de/">Sozio-ökologischen
Langzeitforschungs-Standort LT(S)ER Matschertal / Val di Mazia</a>.</p>

<h1>Daten Lizenz</h1>

<p> Die öffentlichen Daten, die ohne Registrierung verfügbar sind, mit der <a href="https://creativecommons.org/licenses/by/4.0/deed.de">CC BY 4.0 Lizenz ausgegeben </a>
Sie dürfen das Material in jedwedem Format oder Medium vervielfältigen und weiterverbreiten.
Bitte bestätigen Sie den Datenanbiter wie folgt: <i>"Wir danken Eurac Research's sozio-ökologischen Langzeitforschungs-Standort LT(S)ER IT25 - Matsch/Mazia - Italien, für die Bereitstellung von Daten, DEIMS.iD: https://deims.org/11696de6-0ab9-4c94-a06b-7ce40f56c964"</i>
</p>

<h1>Haftungsausschluss</h1>

<p>Die Qualität der mit dieser Anwendung heruntergeladenen meteorologischen Daten ist nicht garantiert vom Datenanbieter.</p>

<h1>Zu beginnen</h1>
<p>Nachdem Sie die Stationen, Sensoren und den gewünschten Zeitraum ausgewählt haben, Sie können die Datentabelle im csv- oder excel-Format speichern.</p>

<h1>Legende zur heruntergeladenen Tabelle</h1>

<p>Die folgende Tabelle erklärt die Spaltenbeschriftungen und schlüsselt die Messcodes auf.</p>

<ul>
<li><em>time:</em> Zeitstempel (UTC +1).</li>
<li><em>station:</em> Stationsname.</li>
<li><em>landuse code:</em> Landnutzung (me = Wiese, pa = Weide, bs = nackt Boden , fo = Wald).</li>
<li><em>elevation:</em> Meereshöhe der Station in Meter.</li>
<li><em>latitude:</em> latitude koordinaten in Dezimalgrade.</li>
<li><em>longitude:</em> latitude koordinaten in Dezimalgrade.</li>
<li><em>air_rh_avg:</em> Relative Luftfeuchte in prozent (15 min Mittelwert).</li>
<li><em>air_t_avg:</em> Lufttemperatur Grad Celsiuss (15 min Mittelwert).</li>
<li><em>precip_rt_nrt_tot:</em> Niederschlag in mm (15 min Kumulative Summe).</li>
<li><em>snow_height:</em> Schneehöhe in meter.</li>
<li><em>sr_avg:</em> Globalstrahlungin Watt pro Quadratmeter (15 min Mittelwert).</li>
<li><em>wind_dir:</em> Windrichtung in Grade (15 min Mittelwert).</li>
<li><em>wind_speed_avg:</em> Windgeschwindigkeit in m/s.</li>
<li><em>wind_speed_max:</em> Windböe in m/s.</li>
</ul>



<h1>Danksagungen</h1>

<p>Projekt team: Stefano Della Chiesa, Alessandro Zandonai, Christian Brida, Georg Niedrist, Martin Palma, Luca Cattani, Norbert Andreatta, <a href="http://www.eurac.edu/en/Pages/default.aspx">Eurac research.</a></p>
