<!--
	Copyright 2020 Eurac Research. All rights reserved.
	Use of this source code is governed by the Apache 2.0
	license that can be found in the LICENSE file.
-->

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Filter and download data of the long term socio-ecological research area LT(S)ER IT25 - Matsch/Mazia - Italy.">
		<meta property="og:title" content="LTER Matsch / Mazia Data Browser"/>
		<meta property="og:description" content="Filter and download data of the long term socio-ecological research area LT(S)ER IT25 - Matsch/Mazia - Italy."/>
		<meta property="og:url" content="https://browser.lter.eurac.edu"/>
		<title>LTER Matsch / Mazia Data Browser</title>
		<link rel="stylesheet" href="/static/third_party/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/third_party/bootstrap-datepicker/bootstrap-datepicker3.min.css">
		<link rel="stylesheet" href="/static/third_party/bootstrap-multiselect/bootstrap-multiselect.css">
		<link rel="stylesheet" href="/static/third_party/ion-rangeslider/ion.rangeSlider.min.css">
		<link rel="stylesheet" href="/static/third_party/leaflet/leaflet.css">
		<link rel="stylesheet" href="/static/third_party/cookies-eu-banner/css/cookies-eu-banner.default.css">
		<link rel="stylesheet" href="/static/browser.css">
		<script src="/static/third_party/jquery/jquery-3.5.1.min.js"></script>
		<script src="/static/third_party/jquery/jquery-ui.min.js"></script>
		<script src="/static/third_party/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/third_party/cookies-eu-banner/js/cookies-eu-banner.js"></script>
		<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  		<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  		<link rel="apple-touch-icon" href="/static/favicon-196x196.png">
	</head>
	<body id="page-top">

	<div id="cookies-eu-banner" class="hide">
		{{T "Eu banner" .Language}}
		<a href="https://browser-stage.lter.eurac.edu/{{ .Language }}/privacy/" id="cookies-eu-more" >{{T "Eu banner Read more" .Language}}</a>
		<button id="cookies-eu-reject">{{T "Eu banner Reject" .Language}}</button>
		<button id="cookies-eu-accept">{{T "Eu banner Accept" .Language}}</button>
	</div>

	<header>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/"><img src="/static/images/logo.gif" alt="LTER Data Browser"></a>
					<h1>Data Browser</h1>
				</div>

				<div class="collapse navbar-collapse" id="navbar-collapse">
					<ul class="nav navbar-nav navbar-left">
						<li {{ if eq .Path "/"}}class="active"{{end}}><a href="/">Home</a></li>
						<li {{ if eq .Path "info"}}class="active"{{end}}><a href="/{{.Language}}/info/">Info</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ T "View graphs" .Language }} <span class="caret"></span></a>
							<ul class="dropdown-menu">
								{{ range .Data -}}
								{{ if .Dashboard }}
								<li><a href="{{.Dashboard}}" target="_blank" rel="noreferrer">Station: {{.Name}}</a></li>
								{{end}}
								{{ end }}
							</ul>
						</li>
						<li {{ if eq .Path "impressum"}}class="active"{{end}}><a href="/{{.Language}}/impressum/">Impressum</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{T "Language" .Language}} <span class="caret"></span></a>
							<ul class="dropdown-menu">
								{{ if ne .Language "en"}}<li><a href="/l/en">English</a></li>{{end}}
								{{ if ne .Language "it"}}<li><a href="/l/it">Italiano</a></li>{{end}}
								{{ if ne .Language "de"}}<li><a href="/l/de">Deutsch</a></li>{{end}}
							</ul>
						</li>
						{{- if Is .User.Role "Public" -}}
						<li><a href="#" data-toggle="modal" data-target="#registerModal">{{ T "Register" .Language}}</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login with...<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/auth/microsoft/login">ScientificNetwork</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/auth/github/login"><img src="/static/images/github.png" width="18" height="18"> Github</a></li>
								<li><a href="/auth/microsoft/login"><img src="/static/images/microsoft.png" width="18" height="18"> Microsoft</a></li>
								<li><a href="/auth/google/login"><img src="/static/images/google.png" width="18" height="18"> Google</a></li>
							</ul>
						</li>
						{{- else -}}
						<li class="dropdown"> 
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Me {{ if .User.Picture }}<img src="{{ .User.Picture }}" width="25" height="25" class="img-circle">{{ end }}<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="dropdown-header">
									{{ T "Hello" .Language }} <b>{{ .User.Name }}</b>, {{ T "you are signed from" .Language }} <b>{{ .User.Provider }}</b>
								</li>
								<li role="separator" class="divider"></li>
								<li><a href="/{{ .Language }}/hello/">{{ T "Data usage agreement" .Language }}</a></li>
								<li><a href="#" data-toggle="modal" data-target="#cancelModal">{{ T "Cancel registration" .Language }}</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/auth/{{ .User.Provider }}/logout">{{T "Logout" .Language}}</a></li>
							</ul>
						</li>
						{{- end -}}
					</ul>
				</div>
			</div>
		</nav>
	</header>

	{{block "content" . }}{{end}} 

	{{- if Is .User.Role "Public" -}}
		<div class="modal fade" tabindex="-1" role="dialog" id="registerModal">
			<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title">{{ T "Register" .Language}}</h4>
						</div>
						<div class="modal-body">
								<p class="page">{{ T "To get full data access please sign in using one of the supported providers:" .Language}} </p>
								<a href="/auth/microsoft/login" class="btn btn-default">ScientificNetwork</a>
								<a href="/auth/github/login" class="btn btn-default"><img src="/static/images/github.png" width="18" height="18"> Github</a>
								<a href="/auth/microsoft/login" class="btn btn-default"><img src="/static/images/microsoft.png" width="18" height="18"> Microsoft</a>
								<a href="/auth/google/login" class="btn btn-default"><img src="/static/images/google.png" width="18" height="18"> Google</a>
						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	{{ end }}

	{{- if not (Is .User.Role "Public") -}}
		<div class="modal fade" tabindex="-1" role="dialog" id="cancelModal">
			<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title">{{ T "Dear" .Language }} {{ .User.Name }},</h4>
						</div>
						<div class="modal-body">
							<p class="page">{{ T "We are sorry you want to cancel your registration to the <a href=\"/\">LT(S)ER IT25 Matsch | Mazia Data Browser</a>." .Language }}</p>
							<p class="page">{{ T "Please, be aware that for all the data downloaded, it applies the agreed data usage license." .Language }}</p>
							<p class="page">{{ T "In order to cancel your registration please write an email to: <a href=\"mailto:alpine.environment@eurac.edu\">alpine.environment@eurac.edu</a> as follow:" .Language}} </p>
							<dl>
								<dt>{{ T "Subject" .Language}}:</dt>
								<dd>{{ T "Data Browser LT(S)ER IT25 Matsch | Mazia - User registration cancellation." .Language }}</dd>
								<dt>{{ T "Email content" .Language}}:</dt>
								<dd>{{ T "Please cancel my user registration and any related data." .Language }}</dd>
							</dl>
							<p class="page">{{ T "Feel free to join us again!" .Language }}</p>
							<p class="page">{{ T "The LT(S)ER Matsch | Mazia Team!" .Language }}</p>
						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	{{ end }}
	</body>
</html>

