<!--
	Copyright 2020 Eurac Research. All rights reserved.
	Use of this source code is governed by the Apache 2.0
	license that can be found in the LICENSE file.
-->

{{define "content"}}
<main class="page">
	<article class="hello">
		<h1>{{ T "Dear" .Language }} <strong>{{ .User.Name }}</strong>,</h1>
		<p class="lead">{{ T "welcome to the Data Portal of the long-term socio-ecological research site Matschertal/Val di Mazia!" .Language }}</p>
		
		{{ if not .User.License }}
		<p>{{ T "In order to complete your registration please agree to the" .Language }} {{ T "Data usage agreement" .Language }}.</p>	
		{{ end }}
		<h2>{{ T "Data usage agreement in short" .Language }}:</h2>
		<div class="bs-callout bs-callout-warning">
			<ul>
				<li>{{ T "The <strong><mark>Data Provider shall examine in advance</mark></strong> any proposal for dissemination (Publication, Project proposal, Presentation, etc.)." .Language }}</li>
				<li>{{ T "<strong><mark>Acknowledge as follow</mark></strong>: <em>\"We thank Eurac research, long-term socio-ecological research site LT(S)ER IT25 - Matsch / Mazia - Italy, for providing the data, DEIMS.iD: https://deims.org/11696de6-0ab9-4c94-a06b-7ce40f56c964\"</em>." .Language }}</li>
				<li>{{ T "<strong><mark>Commercial use is not allowed</mark></strong> unless specifically authorized." .Language }}</li>
			</ul>
		</div>

		<h2>{{ T "Data usage agreement" .Language }} {{ T "full" .Language }}:</h2>
		<div class="license">
			{{.Content}}
		</div>

		{{ if not .User.License }}
		<p>
		<form action="/auth/account/license" method="post">
			<input type="hidden" name="token" value="{{.Token}}">
  			<label class="radio-inline">
    				<input type="radio" name="agreement" value="1" checked>
				{{ T "I agree" .Language }}
  			</label>
  			<label class="radio-inline">
    				<input type="radio" name="agreement" value="0">
				<small>{{ T "I decline" .Language }}</small>
  			</label>
			<br><br>
			<button type="submit" class="btn btn-primary">{{ T "Submit" .Language }}</button>
		</form>
		</p>
		{{ end }}
		<p><small>{{ T "You can review the <a href=\"/en/privacy\">data privacy policy here</a>" .Language }}</small></p>
	</article>
</main>

<footer>
	<a href="http://www.eurac.edu" target="_blank" rel="noreferrer"><img src="/static/images/eurac_research.png" width="120" alt="Eurac Research"></a> <a href="http://www.provinz.bz.it/" target="_blank" rel="noreferrer"><img src="/static/images/provinz_bz.jpg" alt="Autonome Provinz Bozen Südtirol - Provincia autonoma di Bolzano Alto Adige" width="180"></a>
</footer>

{{if $.AnalyticsCode}}
<script>
	$(document).ready(function() {
		new CookiesEuBanner(function () {
			var newScript = document.createElement("script");
			newScript.type = "text/javascript";
			newScript.setAttribute("async", "true");
			newScript.setAttribute("src", "https://www.googletagmanager.com/gtag/js?id={{$.AnalyticsCode}}");
			document.documentElement.firstChild.appendChild(newScript);
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			// https://developers.google.com/analytics/devguides/collection/gtagjs/display-features
			gtag('set', 'allow_ad_personalization_signals', false);
			gtag('config', '{{$.AnalyticsCode}}');
		}, true, true);
	});
</script>
{{end}}

{{end}}
