<!--
	Copyright 2020 Eurac Research. All rights reserved.
	Use of this source code is governed by the Apache 2.0
	license that can be found in the LICENSE file.
-->

{{define "content"}}
{{ $lang := .Language}}

{{ if  and (not (Is .User.Role "Public")) (not .User.License) }}
<div class="alert alert-warning license-warning">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
	<strong>Limited data access!</strong> You have not agreed to the <a href="{{ .Language }}/license/">data usage agreement</a>.
</div>
{{ end }}

<main>
	<div class="container-fluid layout">
		<div class="row">
			<div class="col-lg-5 border sidebar-left">
				<div class="welcome">
					<h1>{{ T "Welcome to the Data Browser  Matsch | Mazia!" $lang }}</h1>
					<p class="lead">
					{{ T "This app provides a user-friendly interface to download meteorological and biophysical variables of the <a href=\"http://lter.eurac.edu/en/\" target=\"blank\" rel=\"noreferrer\">long-term socio-ecological research site Matschertal/Val di Mazia!</a>." $lang }}
					</p>
				</div>
				<div class="form">
					<form method="POST" action="/api/v1/series" target="_blank"  id="filters" name="filter">
						<input type="hidden" name="token" value="{{.Token}}">
						<div class="container-fluid filter">
							<div class="row">
								<div class="col-lg-4">
									<div class="form-group">
										<label for="measurements">{{T "Select measurement:" $lang}}</label>
										<select multiple class="form-control" id="measurements" name="measurements">
											{{- range .Data.Measurements -}}
												{{if Is $.User.Role "Public" -}}
													<option value="{{ . }}">{{ T . $lang}}</option>
												{{else if not $.User.License }}
													<option value="{{ . }}">{{ T . $lang}}</option>
												{{else -}}
													<option value="{{.}}">{{ . }}</option>
												{{end -}}
											{{- end -}}
										</select>
										{{if not (Is $.User.Role "Public") -}}
										<div class="showHide">
											<input type="checkbox" name="showStd" id="showStd"> {{T "Show standard deviations" $lang}}
										</div>
										{{end}}
									</div>
								</div>
								<div class="col-lg-4">
									<div class="form-group">
										<label for="stations">{{T "Select station:" $lang}}</label>
										<select multiple class="form-control" id="stations" name="stations">
											{{- range .Data}}
											<option value="{{ .ID }}">{{ .Name }}</option>
											{{- end -}}
										</select>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="form-group">
										<label for="landuse">{{T "Select land use:" $lang}}</label>
											<select multiple class="form-control" id="landuse" name="landuse">
												{{- range .Data.Landuse }}
												<option value="{{.}}">{{ T . $lang}}</option>
												{{- end -}}
											</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group" id="timerange">
										<label for="dateRange">{{T "Pick a date range:" $lang}}</label>
										<div class="input-daterange input-group" id="datepicker" data-html="true" data-content="<p class='text-warning'><b>{{T "Warning" $lang}}</b>: {{T "Empty dates are not allowed." $lang}}</div>" data-trigger="manual" data-placement="top">
											<input type="text" class="input-sm form-control" name="startDate" id="startDate" value="{{.StartDate}}" autocomplete="off">
											<span class="input-group-addon">to</span>
											<input type="text" class="input-sm form-control" name="endDate"  id="endDate" value="{{.EndDate}}" autocomplete="off">
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<label for="elevation">{{T "Select elevation range [m]:" $lang}}</label>
										<input type="text" class="js-range-slider" name="elevation" id="elevation" value="" >
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<br>
										<input type="hidden" id="format" name="format" value="long">
										<div class="btn-group">
											<button disabled id="submitBtn" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												{{ T "Download CSV" $lang }} <span class="caret"></span>
											</button>
											<ul class="dropdown-menu">
												<li><a id="submitLongBtn" href="#">{{T "Long table format" $lang}}</a></li>
												<li><a id="submitWideBtn" href="#">{{T "Wide table format" $lang}}</a></li>
											</ul>
 									    </div>

										{{if Is .User.Role "FullAccess"}}
										<script>
											$(document).ready(function() {
												function DownloadCodeTemplate(language) {
													var action = $('#filters').attr('action');
													$('#language').val(language)
													$('#filters').attr('action', '/api/v1/templates');
													$('#filters').submit();
													$('#filters').attr('action', action);
												}
												$("#downloadPY").click(function() {
													DownloadCodeTemplate("python");
												});
												$("#downloadR").click(function() {
													DownloadCodeTemplate("r");
												});
											});
										</script>
										<input type="hidden" name="language" value="" id="language">
										<div class="btn-group">
											<button disabled id="codeBtn" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												Code Templates <span class="caret"></span>
											</button>
											<ul class="dropdown-menu">
												<li><a href="#" id="downloadPY">Python</a></li>
												<li><a href="#" id="downloadR">R</a></li>
											</ul>
										</div>
										{{end}}
								</div>
							</div>
						</div>
					</form>
				</div>
				<footer>
                	<a href="http://www.eurac.edu" target="_blank" rel="noreferrer"><img src="/static/images/eurac_research.png" width="120" alt="Eurac Research"></a> <a href="http://www.provinz.bz.it/" target="_blank" rel="noreferrer"><img src="/static/images/provinz_bz.jpg" alt="Autonome Provinz Bozen Südtirol - Provincia autonoma di Bolzano Alto Adige" width="180"></a>
                </footer>
			</div>
			<div class="col-lg-7" id="map" style="z-index: 1"></div>
		</div>
	</div>

	<div style="display:none">
		<div id="dlMapArea">
			<a href="/static/dl/LTER_IT25_Mazia_Matsch_Station_Coordinates.zip">{{T "Download Station Coordinates" $lang}}</a><br>
			<a href="/static/dl/LTER_IT25_Mazia_Matsch_Catchment.zip">{{T "Download Catchment" $lang}}</a>
		</div>
	</div>
</main>

	{{ range .Data -}}
	<div class="modal fade" tabindex="-1" role="dialog" id="s{{.ID}}" data-name="{{.Name}} - {{ T .Landuse $lang }} - {{ .Elevation}} m">
	<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
 						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Station: {{.Name}} </h4>
					</div>
					<div class="modal-body station">
						<div class="row">
							<div class="col-md-7">
								<img src="{{.Image}}" width="100%">
							</div>
							<div class="col-md-5">
								<dl>
									<dt>{{T "Elevation" $lang}}</dt>
									<dd>{{.Elevation}}m</dd>
									<dt>{{T "Landuse" $lang}}</dt>
									<dd>{{ T .Landuse $lang}}</dd>
									<dt>{{T "Latitude" $lang}}</dt>
									<dd>{{.Latitude}}</dd>
									<dt>{{T "Longitude" $lang}}</dt>
									<dd>{{.Longitude}}</dd>
									{{ if .Dashboard }}
									<dt>{{T "Latest data" $lang}}</dt>
									<dd><strong><a href="{{ .Dashboard }}" target="_blank" rel="noreferrer">{{ T "View graphs" $lang }}</a></strong></dd>
									{{ end }}
								</dl>
							</div>
						</div>
						<div>
						<h4>{{T "Measurements" $lang}}:</h4>
						{{ if Is $.User.Role "Public" -}}
							{{$c := len .Measurements}}
							{{- range $i, $el := .Measurements -}}
								{{- T $el $lang -}}
								{{- if not (Last $i $c)}}, {{end}}
							{{- end -}}
						{{ else }}
							<div class="list">
							<div class="row">
							{{- range $i, $el := .Measurements -}}
								<div class="col-md-6">{{ $el }}</div>
								{{ if Mod $i }}
								</div>
								<div class="row">
								{{ end }}
							{{- end -}}
							</div>
							</div>
						{{ end }}
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
	</div>
	{{ end -}}
	<div class="modal fade" tabindex="-1" role="dialog" id="infoModal">
  		<div class="modal-dialog" role="document">
    			<div class="modal-content">
      				<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        				<h4 class="modal-title">{{T "Notice" $lang}}</h4>
      				</div>
      				<div class="modal-body">
        				<p>
							{{T "Downloading a large data set may take some time to finish or will even timeout." $lang}}
						</p>
						<p>
							{{T "We are aware of the issue and are working on it. Tools like R or Python are more appropriate to use for such requests." $lang}}
						</p>
      				</div>
      				<div class="modal-footer">
        				<button type="button" class="btn btn-default" data-dismiss="modal">Stop</button>
        				<button type="button" class="btn btn-primary">{{ T "Continue with the download..." $lang}}</button>
      				</div>
    			</div><!-- /.modal-content -->
  		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<script src="/static/third_party/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
	<script src="/static/third_party/bootstrap-multiselect/bootstrap-multiselect.js"></script>
	<script src="/static/third_party/ion-rangeslider/ion.rangeSlider.min.js"></script>
	<script src="/static/third_party/leaflet/leaflet.js"></script>
	<script src="/static/browser.js"></script>
	<script>
		$(document).ready(function() {
			new browser({
				'stationEl':		'#stations',
				'measurementEl':	'#measurements',
				'landuseEl':		'#landuse',
				'elevationEl':		'#elevation',
				'dateEl':			'#datepicker',
				'sDateEl':			'#startDate',
				'eDateEl':			'#endDate',
				'submitEl':			'#submitBtn',
				'submitWideBtnEl':	'#submitWideBtn',
				'submitLongBtnEl':	'#submitLongBtn',
				'formatEl':			'#format',
				'formEl':			'#filters',
				'infoModalEl':		'#infoModal',
				'codeEl':			'#codeBtn',
				'dlMapAreaEl':		'dlMapArea',
				'mapEl':			'map',
				'scrollToTopEl':	'.scroll-to-top',
				'data':				JSON.parse('{{.Data}}'),
			});


			{{if $.AnalyticsCode}}
			new CookiesEuBanner(function () {
				var newScript = document.createElement("script");
				newScript.type = "text/javascript";
				newScript.setAttribute("async", "true");
				newScript.setAttribute("src", "https://www.googletagmanager.com/gtag/js?id={{$.AnalyticsCode}}");
				document.documentElement.firstChild.appendChild(newScript);

				window.dataLayer = window.dataLayer || [];
          		function gtag(){dataLayer.push(arguments);}
          		gtag('js', new Date());

				// https://developers.google.com/analytics/devguides/collection/gtagjs/display-features
				gtag('set', 'allow_ad_personalization_signals', false);
				gtag('config', '{{$.AnalyticsCode}}');


				var measurements = $( "#measurements");
				var stations = $( "#stations");
				var landuse = $( "#landuse");
				var startDate = $( "#startDate");
				var endDate = $( "#endDate");
				var elevation = $( "#elevation");



				$( "#filters" ).submit(function( event ) {

					var obj = {
						"measurements" : measurements.val(),
						"stations" : stations.val(),
						"landuse" : landuse.val(),
						"startDate" : startDate.val(),
						"endDate" : endDate.val(),
						"elevation" : elevation.val()
						}

					gtag('event', 'submit', {
					'event_category' : 'search',
					'event_label' : JSON.stringify(obj)
					});


            	});

			}, true, true);
			{{end}}

		});
	</script>

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top" href="#page-top">
    		<i class="glyphicon glyphicon-chevron-up"></i>
  	</a>
{{end}}
