{{define "content"}}
<main class="page">
	<article>
		<h1>{{ T "Dear" .Language }} {{ .User.Name }},</h1>
		<p>{{ T "welcome to the Data Portal of the long-term socio-ecological research site Matschertal/Val di Mazia!" .Language }}
		<br>{{ T "In order to complete your registration please agree to the" .Language }} <strong>{{ T "Data usage agreement" .Language }}</strong>:</p>	
	</article>

	<article class="license">
		{{.Content}}
	</article>

	<article>
	<form action="/auth/account/license" method="post">
		<input type="hidden" name="token" value="{{.Token}}">
  		<label class="radio-inline">
    			<input type="radio" name="agreement" value="1" checked>
			{{ T "I agree" .Language }}
  		</label>
  		<label class="radio-inline">
    			<input type="radio" name="agreement" value="0">
			<small>{{ T "I decline" .Language }}</small>
  		</label>
		<br><br>
		<button type="submit" class="btn btn-primary">{{ T "Submit" .Language }}</button>
	</form>
	</article>
</main>

<footer>
	<a href="http://www.eurac.edu" target="_blank" rel="noreferrer"><img src="/static/images/eurac_research.png" width="70" alt="Eurac Research"></a>
</footer>

{{if $.AnalyticsCode}}
<script>
	$(document).ready(function() {
		new CookiesEuBanner(function () {
			var newScript = document.createElement("script");
			newScript.type = "text/javascript";
			newScript.setAttribute("async", "true");
			newScript.setAttribute("src", "https://www.googletagmanager.com/gtag/js?id={{$.AnalyticsCode}}");
			document.documentElement.firstChild.appendChild(newScript);
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			// https://developers.google.com/analytics/devguides/collection/gtagjs/display-features
			gtag('set', 'allow_ad_personalization_signals', false);
			gtag('config', '{{$.AnalyticsCode}}');
		}, true, true);
	});
</script>
{{end}}

{{end}}
