{{define "content"}}
<main>
	<article>
		{{.Content}}
	</article>
</main>

<footer>
	<a href="http://www.eurac.edu" target="_blank" rel="noreferrer"><img src="/static/images/eurac_research.png" width="70" alt="Eurac Research"></a>
</footer>

{{if $.AnalyticsCode}}
<script>
	$(document).ready(function() {
		new CookiesEuBanner(function () {
			var newScript = document.createElement("script");
			newScript.type = "text/javascript";
			newScript.setAttribute("async", "true");
			newScript.setAttribute("src", "https://www.googletagmanager.com/gtag/js?id={{$.AnalyticsCode}}");
			document.documentElement.firstChild.appendChild(newScript);
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			// https://developers.google.com/analytics/devguides/collection/gtagjs/display-features
			gtag('set', 'allow_ad_personalization_signals', false);
			gtag('config', '{{$.AnalyticsCode}}');
		}, true, true);
	});
</script>
{{end}}

{{end}}